@import "./../../../styles.scss";

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 100px;
}

h1 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: clamp(22px, 9vw, 128px);
    line-height: clamp(22px, 9vw, 128px);
}

.title {
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFCF3;
    z-index: 5;
    max-width: 1440px;
    width: 100%;
    padding-bottom: 30px;
}

.title_name {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #FFFCF3;
    z-index: 5;
    max-width: 1440px;
    width: 100%;

    >img {
        width: 50%;
    }

    >span {
        color: #00BC8F;
        font-weight: 700;
        font-size: clamp(13px, 3vw, 48px);
        line-height: clamp(13px, 3vw, 48px);
    }
}

.white_div {
    height: 180px;
    max-width: 1440px;
    width: 100%; 
    display: flex; 
    justify-content: end;  
    
    div {
        background-color: #FFFCF3;
        height: 100%;
        width: 500px;
        z-index: 900;
    }
}

.scroll_down {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: end;
    font-size: clamp(10px, 5vw, 20px);
    margin-top: 30px;

    >a {
        width: 22px;
        display: inline-block;
        transform: rotate(270deg);
        text-decoration: none;
        color: black;
    }

    >div {
        display: flex;
        flex-direction: column;

    }
}

.scrol_down_text {
    background-color: #FFFCF3;
    z-index: 900;
}

.scroll-down-arrow {
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-down-link {
    margin-bottom: 40px;
    -webkit-animation: fade_move_down 1.25s ease-in-out infinite;
    -moz-animation: fade_move_down 1.25s ease-in-out infinite;
    animation: fade_move_down 1.25s ease-in-out infinite;

    @-webkit-keyframes fade_move_down {
        0% {
            -webkit-transform: translate(0, -90px);
        }

        25% {
            -webkit-transform: translate(0, -90px);
        }

        50% {
            opacity: 1;
        }

        100% {
            -webkit-transform: translate(0, 90px);
        }
    }

    @-moz-keyframes fade_move_down {
        0% {
            -moz-transform: translate(0, -90px);
        }

        50% {
            opacity: 1;
        }

        100% {
            -moz-transform: translate(0, 90px);
        }
    }

    @keyframes fade_move_down {
        0% {
            transform: translate(0, -90px);
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translate(0, 90px);
            opacity: 0;
        }
    } 
}

@media (max-width: 700px) {
    .header {
        padding: 0 30px;
    }

    .scroll-down-link {
        margin-bottom: 60px;
    } 
}