<div class="header">
    <div class="title">
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <div class="title_name">
            <img src="assets/img/Frame 343.png">
            <span>Andrei Butalov</span>
        </div>
    </div>
    <div class="scroll_down">
        <a href='mailto:andrei.butalov@gmx.de'>andrei.butalov&#64;gmx.de</a>
        <div>
            <img class="scroll-down-link scroll-down-arrow" src="assets/img/Group 3.png">
            <span class="scrol_down_text">Scroll<br>Down</span>
        </div>
    </div>
</div>
