.contact_me_content {
    max-width: 1440px;
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;


    img {
        width: 1100%;
        height: auto;
        // position: absolute;
        // object-fit: cover;
        // width: 100vw;
        // max-width: 1440px;
    }
}