<div class="contact_me_content">
    <div class="formular">
        <h1>Want to discuss a new project?</h1>
        <h2>Say hello! Let's discuss your ideas and make it happen</h2>
        <div class="form_content">
            <input type="text">
            <input type="text">
            <textarea name="" id=""></textarea>
            <div class="check_box">
                <input type="checkbox">
                <span>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</span>
            </div>
        </div>
        <button class="send_message">Send message</button>
    </div>
    <img src="/assets/img/logoW.png">
</div>
