.contact_me_content {
    height: 700px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 60px;
    background-color: black;
    position: relative;

    h1 {
        color: #00bc8f;
        font-size: 32px;
        line-height: 38.4px;
    }

    h2 {
        font-size: 22px;
    }

    img {
        position: absolute;
        bottom: 20px;
        left: 100px;
        height: 40px;
        width: 80px;
    }
}

.form_content {
    display: flex;
    flex-direction: column;
    text-align: start;

    input, textarea {
        color: #FFFCF3;
        background-color: black;
        line-height: 19.2px;
        border: 0;
        border-bottom: 1px solid #FFFCF3;
        box-sizing: border-box;
        padding: 0 16px;
        font-size: 16px;

        &:hover {
            border: 4px #FFFCF3 solid;
        }
    }

    input {
        height: 50px;
        margin-bottom: 20px;
        outline: none;
    }

    textarea {
        height: 200px;
        padding-top: 10px;
    }

    span {
        font-size: 14px;

        a {
            text-decoration: none;
            color: #00bc8f;

            &:hover {
                font-weight: 700;
            }
        }
    }
}

.check_box {
    display: flex;
    align-items: start;
    justify-content: center;

    span {
        margin: 20px 0 0 10px;
    }
}

.send_message {
    padding: 20px 60px;
    font-size: 23px;
    line-height: 27.6px;
    color: #BBBBBB;
    border: 4px #BBBBBB solid;
    background-color: black;
    cursor: pointer;
}