<div class="about_me">
    <div>
        <h1>About me</h1>
        <div class="about_me_content">
            <div class="about_me_left">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam earum possimus culpa aliquam id vero explicabo perferendis magni, beatae eveniet provident tenetur? Quae corporis eius, numquam obcaecati harum suscipit blanditiis in dolorum ab culpa debitis quisquam facilis accusamus provident praesentium sed laudantium. Autem magni voluptate nulla velit mollitia, exercitationem fugiat, molestiae cumque aut consequatur nisi ab aspernatur, nesciunt voluptates.</span>
                <div class="about_me_adress">
                    <div>
                        <img src="/assets/img/house.png">
                        <span>Based in Cologne</span>
                    </div>
                    <div>
                        <img src="/assets/img/laptop_chromebook.png">
                        <span>Open to work Remote</span>
                    </div>
                </div>
                <div class="about_me_button">
                    <a href="#" class="button_group">Let's talk</a>
                </div>
            </div>
            <img src="/assets/img/foto.png">
        </div>
        <div class="arrow_section">
            <img src="assets/img/Group4.png">
        </div>
    </div>
</div>
