<div class="about_me">
    <div style="position: relative;">
        <h1>
            {{isEnglish ? "About me" : "Über mich"}}
        </h1>
        <div class="about_me_content">
            <div class="about_me_left">
                <span>
                    {{ isEnglish ? aboutMeEn : aboutMeDe }}
                </span>
                <div class="about_me_address">
                    <div>
                        <img src="assets/img/house.png">
                        <span>
                            {{ isEnglish ? "Based in Kerpen" : "Ansässig in Kerpen" }}
                        </span>

                    </div>
                    <div>
                        <img src="assets/img/laptop_chromebook.png">
                        <span>
                            {{ isEnglish ? "Open to work Remote" : "Offen für Remote-Arbeit" }}
                        </span>
                    </div>
                </div>
                <div class="about_me_button">
                    <a href="#footer" class="button_group">{{ isEnglish ? "Let's talk" : "Lass uns reden" }}</a>
                </div>
            </div>
            <div class="foto_wrapper">
                <img class="foto" src="assets/img/foto.jpg">
                <div class="foto_border"></div>
            </div>
        </div>      
    </div>
</div>