@import "./../../../styles.scss";

h1 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: 78px;
    line-height: 78px;
    margin-bottom: 40px;

    &:hover {
        color: #00BC8F;
    }

}

.about_me {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0 100px;
    margin-top: 160px;

    >div {
        max-width: 1440px;
        width: 100%;
    }
}

.about_me_content {
    display: flex;
    justify-content: space-between;

    >div {
        width: 60%;
    }
}

.foto_wrapper {
    position: relative;
    display: flex;
    justify-content: end;

    .foto {
        width: 450px;
        height: 600px;
        cursor: pointer;
        object-fit: cover;
    }

    .foto_border {
        position: absolute;
        width: 442px;
        height: 594px;
        border: 4px solid black;
        top: 15px;
        right: -17px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, visibility 0.3s;
    }

    &:hover .foto_border {
        visibility: visible;
        opacity: 1;
    }
}

.about_me_left {
    font-size: 22px;
}

.about_me_adress {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 22px;

    img {
        width: 40px;
        height: auto;
        margin-right: 16px;
    }

    div {
        display: flex;
        align-items: center;
    }
}

.about_me_button {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
        margin-top: 64px;
    }

}