@import "./../../../styles.scss";

h1 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: 78px;
    line-height: 78px;
    margin-bottom: 40px;

    &:hover {
        color: #00BC8F;
    }

}

.about_me {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0 100px;
    margin-top: 160px;

    >div {
        max-width: 1920px;
        width: 100%;
    }
}

.about_me_content {
    display: flex;
    justify-content: space-between;

    >div {
        width: 60%;
    }

    >img {
        width: 30%;
        object-fit: cover;
    }
}

.about_me_left {
    font-size: 22px;
}

.about_me_adress {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 22px;

    img {
        width: 40px;
        height: auto;
        margin-right: 16px;
    }

    div {
        display: flex;
        align-items: center;
    }
}

.about_me_button {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
        margin-top: 64px;
    }

}

.arrow_section {
    display: flex;
    justify-content: end;
    align-items: start;
    height: 300px;
    
    &:hover {

        img {
            height: 216px;
            width: auto;
            animation: fade_move_down 1.25s ease-in-out infinite;
        }

        @keyframes fade_move_down {
            0% {
                transform: translate(0, 0);
            }

            25% {
                transform: scale(1.2);
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: translate(-70px, 100px);
                opacity: 0;
            }
        }
    }
}

// .arrow_section_animation {
//     -webkit-animation: fade_move_down 1.25s ease-in-out infinite;
//     -moz-animation: fade_move_down 1.25s ease-in-out infinite;
//     animation: fade_move_down 1.25s ease-in-out infinite;

//     @keyframes fade_move_down {
//         0% {
//             transform: translate(0, 0);
//         }

//         25% {
//             transform: scale(1.2);
//         }

//         50% {
//             opacity: 1;
//         }

//         100% {
//             transform: translate(-60px, 100px);
//             opacity: 0;
//         }
//     }
// }