<div class="about_me">
    <div style="position: relative;">
        <h1>About me</h1>
        <div class="about_me_content">
            <div class="about_me_left">
                <span>I’m a front-end developer based in Cologne, Germany, helping designers and companies turn their ideas into reality. With creativity and logical thinking, I transform concepts into high-quality products. If you think I’d be a great fit for your project, feel free to get in touch!</span>
                <div class="about_me_address">
                    <div>
                        <img src="assets/img/house.png">
                        <span>Based in Cologne</span>
                    </div>
                    <div>
                        <img src="assets/img/laptop_chromebook.png">
                        <span>Open to work Remote</span>
                    </div>
                </div>
                <div class="about_me_button">
                    <a href="#" class="button_group">Let's talk</a>
                </div>
            </div>
            <div class="foto_wrapper">
                <img class="foto" src="assets/img/foto.jpg">
                <div class="foto_border"></div>
            </div>
        </div>      
    </div>
</div>