@import './../../../styles.scss';


.navbar {
    width: 100%;
    background-color: #FFFCF3;
    position: fixed; 
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45px; 
    z-index: 999;  
    max-width: 1440px;
    // padding-left: 150px;  
    // padding: 0 80px;
}
.navbar_content {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

.logo {
    height: 30px;
    width: auto;
    padding-left: 100px
}

.burger_menu {
    @include displayJustfAlign();
    flex-direction: column;
    gap: 10px;    
    > img {
        height: 4px;
        padding-right: 100px;
    }
}