.imprint_content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer {
    width: 100%;
}

.imprint {
    padding-top: 192px;
    font-size: 22px;
}