@import "./../../../styles.scss";

.referebces_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 100px 0 100px;
}


.references {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    >h1 {
        font-family: "Syne";
        font-weight: 800;
        font-size: 78px;
        
        &:hover {
            color: #00bc8f;
        }
    }

    >h2 {
        width: 700px;
        margin: 51px 0 40px 0;
    }
}

.references_assessment {    
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;

    img {
        height: 20px;
        margin: 34px 0 26px 0;        
    }

    h1 {
        font-size: 22px;
        line-height: 26.4px;

    }

    span {
        font-size: 14px;
    }

    p {
        padding: 0 20px;
        font-size: 18px;
        text-align: justify;
    }

    >div {
        width: 397px;
        height: 344px;
        border: 4px solid black;
        overflow: hidden;
        word-wrap: break-word;

        &:hover img{
            filter: invert(58%) sepia(60%) saturate(3786%) hue-rotate(130deg) brightness(94%) contrast(104%)
        }
        
        &:hover {
            border: 4px solid #00bc8f;
        }


        
    }
}

.arrow_section {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 300px;

    img {
        height: 216px;
            width: auto;
    }
    
    &:hover {
        
        img {
            height: 216px;
            width: auto;
            animation: fade_move_down 1.25s ease-in-out infinite;
        }

        @keyframes fade_move_down {
            0% {
                transform: translate(0, 0);
            }

            25% {
                transform: scale(1.2);
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: translate(-70px, 100px);
                opacity: 0;
            }
        }
    }
}