<div class="my_skills">
    <div class="arrow_section">
        <a href="#my_skills"><img src="assets/img/Group4.png"></a>
    </div>
    <div class="my_skills_content">
        <h1>
            {{ isEnglish ? "My skills" : "Meine Fähigkeiten" }}
        </h1>
        <div class="my_skills_all_icons">
            @for (item of mySkills; track item.name) {
            <div class="my_skills_icon">
                <img class="icon_animation" src="{{ item.icon }}">
                <span>{{ item.name }}</span>
            </div>
            }
        </div>
        <div class="contact_me">
            <div>
                <img class="icon_animation" src="assets/img/18. Icons s3.png">
            </div>
            <span>
                {{ isEnglish ? "Don't see the skill you need?" : "Sie finden nicht die benötigte Fähigkeit?" }}
                <a href="#contact_me">
                    {{ isEnglish ? "Contact me" : "Kontaktiere mich" }}
                </a>
                {{ isEnglish ? "I'm Always Ready to learn!" : "Ich bin immer bereit zu lernen!" }}
            </span>
        </div>
    </div>
</div>