.my_skills {
  margin: 0 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


  h1 {
    font-family: "Syne";
    font-weight: 800;
    font-size: clamp(24px, 6vw, 78px);
    line-height: clamp(24px, 6vw, 78px);
    position: relative;
    top: -35px;
    background-color: #FFFCF3;
    display: inline-block;
    z-index: 1;
    padding: 0 10px;

    &:hover {
      color: #00bc8f;
    }
  }
}

.my_skills_content {
  max-width: 1440px;
  width: 100%;
  border: 4px solid black;
}

.my_skills_icon {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  img {
    width: 70px;
  }

}

.my_skills_icon:hover span {
  color: #00bc8f;
}

.icon_animation {
  width: 70px;
  transition: transform 0.3s ease;
}

.icon_animation:hover {
  animation: swing 0.5s ease-in-out forwards;
}

@keyframes swing {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(35px);
  }

  50% {
    transform: translateX(-35px);
  }

  75% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.my_skills_all_icons {
  padding: 60px 130px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 100px;
  justify-items: center;
  align-items: center;
}

.contact_me {
  padding: 48px 0 120px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 24px;

  div {
    overflow: hidden;
  }


  img {
    width: 75px;
  }

  a {
    text-decoration: none;
    color: #00bc8f;
  }
}

.arrow_section {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
  height: 300px;

  &:hover {

    img {
      height: 216px;
      width: auto;
      cursor: pointer;
      animation: fade_move_down 1.25s ease-in-out infinite;
    }

    @keyframes fade_move_down {
      0% {
        transform: translate(0, 0);
      }

      25% {
        transform: scale(1.2);
      }

      50% {
        opacity: 1;
      }

      100% {
        transform: translate(-70px, 100px);
        opacity: 0;
      }
    }
  }
}

@media (max-width: 1200px) {

  .my_skills {
    margin: 0 30px;

    h1 {
      top: -42px;
    }
  }

  .my_skills_all_icons {
    padding: 40px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 25px;
  }

  .my_skills_all_icons> :nth-child(10) {
    grid-column: 2 / span 1;
    justify-self: center;
  }
}

@media (max-width: 700px) {
  .contact_me {
    justify-content: space-around;
    padding: 20px 10px;
    gap: 10px;

    span {
      width: 40%;
      font-size: 14px;
    }
  }

  .my_skills {

    h1 {
      top: -22px;
    }
  }
}

@media (max-width: 500px) {
  .my_skills_icon {
    font-size: 13px;

    img {
      width: 50px;
    }
  }

  .contact_me {
    padding: 10px 0;
    gap: 0;

    img {
      width: 50px;
    }

    span {
      font-size: 12px;
    }
  }
}