<div class="menu_content">
    <div class="content">
        <div class="animated-div">
            <img src="/assets/img/Rectangle 7.png">
            <a href="#about_me">About me</a>
        </div>
        <div>
            <img src="/assets/img/Rectangle 7.png">
            <a href="#my_skills">My skills</a>
        </div>
        <div>
            <img src="/assets/img/Rectangle 7.png">
            <a href="#portfolio">Portfolio</a>
        </div>
    </div>
    <div class="footer">
        <app-footer [showContactForm]="false"></app-footer>
    </div>
</div>