.footer_content {
    display: flex;
    justify-content: center;
}

.footer_background {
    background-image: url("./../../../assets/img/Rectangle 5 (1).png");
    background-size: cover;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
}

.footer {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    >img {
        height: 78px;
        width: 426px;
        margin-top: 250px;
    }
}

.infos_about_me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    span {
        color: white;
        font-size: 22px;
    }

    div {
        display: flex;
        gap: 50px;
    }
}

.flagge {
    border: 1px #FFFCF3 solid;
    border-radius: 50px;
    object-fit: cover;
}

.success-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: translateY(20px);
    animation: fadeInOut 5.5s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.success_popup_message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 3vw, 22px);
    border: solid 3px #FFFCF3;
    color: #FFFCF3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 0 30px;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.infos_about_me img:hover {
    animation: moveUp 0.6s ease forwards;
}

.contact_me_content {
    height: 700px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 60px;
    position: relative;

    h1 {
        color: #00bc8f;
        font-size: clamp(18px, 6vw, 32px);
    }

    h2 {
        font-size: clamp(16px, 5vw, 22px);
    }
}

.logo {
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 40px;
    width: 80px;
}

.arrow {
    height: 76px;
    position: absolute;
    bottom: 106px;
    right: 2px;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: bottom;
}

.arrow:hover {
    transform: scaleY(1.4);
}

.form_content {
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;

    input,
    textarea {
        font-family: 'Overpass';
        color: #FFFCF3;
        background-color: black;
        line-height: 19.2px;
        border: 2px solid black;
        border-bottom: 1px solid #FFFCF3;
        box-sizing: border-box;
        padding: 0 16px;
        font-size: 16px;
        width: 100%;
        outline: none;
        transition: box-shadow 0.2s ease, border-radius 0.2s ease;
    }

    input:hover,
    textarea:hover,
    input:focus,
    textarea:focus {
        border: 2px solid #FFFCF3;
        border-radius: 4px;
    }

    input:focus,
    textarea:focus {
        border: 1px solid #FFFCF3;
        border-radius: 4px;
    }


    input {
        height: 50px;
        outline: none;
    }

    input:-webkit-autofill {
        background-color: black !important;
        color: #FFFCF3 !important;
        -webkit-text-fill-color: #FFFCF3 !important;
        box-shadow: 0 0 0px 1000px black inset !important;
    }

    textarea {
        height: 200px;
        padding-top: 10px;
    }

    span {
        font-size: 14px;

        a {
            font-weight: 400px;
            text-decoration: none;
            color: #00bc8f;
            cursor: pointer;

            &:hover {
                font-weight: 700;
            }
        }
    }
}

.contact_me_input,
.contact_me_textarea {
    position: relative;

    img {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.contact_me_input input:focus,
.contact_me_textarea textarea:focus {
    background-color: black;
}

.contact_me_input input:valid,
.contact_me_textarea textarea:valid {
    background-color: black;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkbox-indicator {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
    content: "✔";
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.check_box:hover .custom-checkbox::before,
.privacy-link:hover~.custom-checkbox .checkbox-indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 188, 143, 0.9);
    border-radius: 50%;
    pointer-events: none;
}

.check_box {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.send_message {
    padding: 20px 60px;
    font-size: 23px;
    line-height: 27.6px;
    color: #BBBBBB;
    border: 4px #BBBBBB solid;
    background-color: black;
    cursor: pointer;
}


.legal_notice {
    text-decoration: none;
    color: #FFFCF3;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 155px;
}

.message {
    color: red;
    font-size: 8px;
    font-weight: 400 !important;
    margin-top: 5px;
}

.privacy_policy {
    color: red;
    font-size: 8px;
    font-weight: 400 !important;
    margin: 0 15px 40px 0;
}

@media (max-width: 700px) {
    .contact_me_content {
        width: 90%;
    }

    .arrow_up {
        display: none;
    }

    .infos_about_me {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .logo {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .legal_notice {
        text-align: center;
        margin-top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer {
        align-items: center;

        >img {
            width: 70%;
            margin: 150px 0 10px;
        }
    }

    .logo {
        bottom: -160px;
    }

    .infos_about_me {
        padding: 20px 0 80px 0;
        width: 100%;
        gap: 10px;
    }

    .legal_notice {
        width: 100%;
        bottom: -3px;
    }

    .privacy_policy {
        margin: 0 15px 10px 0;
    }

    .contact_me_content {
        height: auto;
    }
}

@media (max-width: 500px) {
    .contact_me_content {
        padding-top: 20px;
        height: auto;
    }

    .send_message {
        padding: 10px 40px;
        font-size: 14px;
    }

    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}