<div class="footer_content">
    <div class="footer">
        <img src="assets/img/Say Hi!.png">
        <div *ngIf="showContactForm" class="contact_me_content">
            <div id="contact_me" class="formular">
                 <h1>
                    {{ isEnglish ? "Want to discuss a new project?" : "Möchtest du ein neues Projekt besprechen?" }}
                 </h1>                
                <h2>{{ isEnglish ? "Say hello! Let's discuss your ideas and make it happen" : "Hallo! Lass uns über deine Ideen sprechen und sie verwirklichen" }}</h2>                
                <div *ngIf="showSuccessMessage" class="success-popup">
                    <span class="success_popup_message">
                        {{ isEnglish ? "Your message has been sent successfully." : "Ihre Nachricht wurde erfolgreich gesendet." }}
                    </span>
                </div>
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <div class="form_content">
                        <div class="contact_me_input">
                            <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text"
                                placeholder="{{ isEnglish ? 'Your Name' : 'Ihr Name' }}" required>
                            <img *ngIf="!name.valid && name.touched" src="assets/img/Vector!.png">
                            <img *ngIf="name.valid" src="assets/img/Vector (2).png">
                            <span *ngIf="!name.valid && name.touched" class="message">
                                {{ isEnglish ? "Please enter a name" : "Bitte geben Sie einen Namen ein" }}
                            </span>
                        </div>                
                        <div class="contact_me_input">
                            <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="text"
                                placeholder="{{ isEnglish ? 'Your email' : 'Ihre E-mail' }}" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                            <img *ngIf="!email.valid && email.touched" src="assets/img/Vector!.png">
                            <img *ngIf="email.valid" src="assets/img/Vector (2).png">
                            <span *ngIf="!email.valid && email.touched" class="message">
                                {{ isEnglish ? "Please enter a email" : "Bitte geben Sie eine E-mail ein" }}
                            </span>
                        </div>                
                        <div class="contact_me_textarea">
                            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message"
                                placeholder="{{ isEnglish ? 'Your message' : 'Ihre Nachricht' }}" required></textarea>
                            <img *ngIf="!message.valid && message.touched" src="assets/img/Vector!.png">
                            <img *ngIf="message.valid" src="assets/img/Vector (2).png">
                            <span *ngIf="!message.valid && message.touched" class="message">
                                {{ isEnglish ? "Please enter a message" : "Bitte geben Sie eine Nachricht ein" }}
                            </span>
                        </div>                
                        <div class="check_box">
                            <label for="privacy-checkbox" class="custom-checkbox">
                                <input type="checkbox" id="privacy-checkbox" [(ngModel)]="acceptPrivacyPolicy"
                                    #privacyCheckbox="ngModel" name="privacyPolicy" required>
                                <span class="checkbox-indicator"></span>
                            </label>                          
                            <span>
                                {{ isEnglish ? "I've read the "  : "Ich habe das gelesen" }}
                                <a href="privacy_policy" class="privacy-link">{{ isEnglish ? "privacy policy"  : "Datenschutzerklärung" }}</a>
                                {{ isEnglish ? "and agree to the processing of my data as outlined."  : "und stimme der Verarbeitung meiner Daten wie beschrieben zu." }}
                            </span>    
                        </div>
                        <span *ngIf="!acceptPrivacyPolicy && showPrivacyError" class="privacy_policy">Please accept the
                            privacy policy</span>
                    </div>               
                    <button type="submit" class="send_message" [ngStyle]="{
                        'color': acceptPrivacyPolicy ? '#FFFCF3' : '#BBBBBB',
                        'border': acceptPrivacyPolicy ? '4px solid #FFFCF3' : '4px solid #BBBBBB'
                    }">
                        {{ isEnglish ? "Send message" : "Nachricht senden" }}
                    </button>
                </form>
            </div>
            <a href=""><img class="logo" src="assets/img/logoW.png"></a>
            <a class="arrow_up" href=""><img class="arrow" src="assets/img/7. arrow.png"></a>
        </div>
        <div class="infos_about_me">
            <span class="email">&#169; Andrei Butalov 2024</span>
            <div class="social_medien">
                <a href="https://github.com/AndreiButalov" target="_blank"><img src="assets/img/github.png"></a>
                <a href='mailto:andrei.butalov@gmx.de'><img src="assets/img/mail.png"></a>
                <img class="flagge" [src]="flagSrc" (click)="toggleLanguage()">
            </div>
        </div>
        <a class="legal_notice" href="imprint">{{ isEnglish ? "Legal notice"  : "Impressum" }}</a>
    </div>
</div>