<div class="footer_content">
    <div class="footer">
        <img src="/assets/img/Say Hi!.png">
        <div *ngIf="showContactForm" class="contact_me_content">
            <div id="contact_me" class="formular">
                <h1>Want to discuss a new project?</h1>
                <h2>Say hello! Let's discuss your ideas and make it happen</h2>
                <form (ngSubmit)="onSubmit(contactForm, privacyCheckbox)" #contactForm="ngForm">
                    <div class="form_content">
                        <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text"
                            placeholder="Your name" required>
                        <span *ngIf="!name.valid && name.touched" class="message">Please enter a name</span>

                        <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="text"
                            placeholder="Your email" required
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        <span *ngIf="!email.valid && email.touched" class="message">Please enter an email</span>

                        <textarea #message="ngModel" minlength="5" [(ngModel)]="contactData.message" name="message"
                            placeholder="Your message" required></textarea>
                        <span *ngIf="!message.valid && message.touched" class="message">Please enter a message</span>

                        <div class="check_box">
                            <label for="privacy-checkbox" class="custom-checkbox">
                                <input type="checkbox" id="privacy-checkbox" [(ngModel)]="acceptPrivacyPolicy"
                                    #privacyCheckbox="ngModel" name="privacyPolicy" required>
                                <span class="checkbox-indicator"></span>
                            </label>
                            <span>I've read the <a href="privacy_policy" class="privacy-link">privacy policy</a> and agree to the processing
                                of my data as outlined.</span>
                        </div>
                        <span *ngIf="!acceptPrivacyPolicy && showPrivacyError" class="privacy_policy">Please accept the
                            privacy policy</span>
                    </div>
                    <button type="submit" class="send_message" [ngStyle]="{
                        'color': acceptPrivacyPolicy ? '#FFFCF3' : '#BBBBBB',
                        'border': acceptPrivacyPolicy ? '4px solid #FFFCF3' : '4px solid #BBBBBB'
                    }">
                        Send message
                    </button>
                </form>

            </div>
            <a href=""><img class="logo" src="/assets/img/logoW.png"></a>
            <a class="arrow_up" href=""><img class="arrow" src="/assets/img/7. arrow.png"></a>
        </div>
        <div class="infos_about_me">
            <span class="email">&#169; Andrei Butalov 2024</span>
            <div class="social_medien">
                <a href="https://github.com/AndreiButalov" target="_blank"><img src="/assets/img/github.png"></a>
                <a href=""><img src="/assets/img/mail.png"></a>
            </div>
        </div>
        <a class="legal_notice" href="imprint">Legal notice</a>
    </div>
</div>