.footer_content {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 180px;   
}

.footer {
    max-width: 1654px;
    width: 100%;
    display: flex;

    img {
        max-width: 1640px;
        width: 100%;
    }
}