<div class="portfolio_content">
    <div class="portfolio">
        <h1 >Portfolio</h1>
        <div class="portfolio_content_text">
            <h2>{{ isEnglish ? "Explore a selection of my work here - Interact with" : "Entdecken Sie eine Auswahl meiner Arbeiten hier - Interagieren Sie mit" }}</h2>
            <h2>{{ isEnglish ? "project to see my skills in action" : "dem Projekt, um meine Fähigkeiten in Aktion zu sehen." }}</h2>
        </div>
    
        @for (item of projektsPortfolio; track item.index) {
            <!-- <div class="portfolio_projects {{ (item.index === '02/04' || item.index === '04/04') ? 'row-reverse' : '' }}"> -->
            <div class="portfolio_projects {{ (item.index === '02/03') ? 'row-reverse' : '' }}">
                <img src="{{ item.image }}">
                <!-- <span class="image_border {{ (item.index === '02/04' || item.index === '04/04') ? 'row-reverse left' : '' }}"> -->
                <span class="image_border {{ (item.index === '02/03') ? 'row-reverse left' : '' }}">
                    <img src="assets/img/Group 8.png">
                </span>
                <!-- <div class="projeckt_description {{ (item.index === '02/04' || item.index === '04/04') ? 'text-align-start' : '' }}"> -->
                <div class="projeckt_description {{ (item.index === '02/03') ? 'text-align-start' : '' }}">
                    <span >{{ item.index }}</span>
                    <div>
                        <h1>{{ item.name }}</h1>
                        <h2>{{ item.language }}</h2>
                        <p>{{ isEnglish ? item.description : item.descriptionDe }}</p>
                    </div>
                    <div class="links_group">
                        <a href="{{ item.link }}" target="_blank" class="button_group">Github</a>
                        <a href="{{ item.tryLink }}" target="_blank" class="button_group">
                            {{ isEnglish ? "Try" :  "Versuchen" }}
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>